.users-search {
  &-input {
    width: 100%;
    padding: 8px 16px;
    margin-bottom: 30px;
    border: 1px solid #eee;
    border-radius: 4px;
    font-size: 16px;
    line-height: 28px;
    color: #212529;
    background-color: #fff;
  }
}