#root {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.site-container {
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}

.page {
  width: 100%;
  text-align: left;
}

.page-title {
  text-align: left;
  margin-bottom: 30px;
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
}

.btn {
  display: inline-flex;
  align-items: center;
  height: 44px;
  padding: 0 24px;
  font-size: 16px;
  border-radius: 4px;
  color: #fff;
  border: none;
  cursor: pointer;
}

.btn-primary {
  background-color: #5d73e1;
}
.btn-change {
  background-color: #e1855d;
}

.pagination {
  margin: 5px 0 50px;
  display: flex;
  gap: 5px;

  button {
    display: block;
    padding: 7px 10px;
    cursor: pointer;
    font-size: 16px;
    color: #5d73e1;
    background-color: #fff;
    border: 1px solid transparent;
    &:disabled {
      cursor: default;
      color: #fff;
      background-color: #5d73e1;
      border-color: #dee2e6;
    }
  }
}